.layout {
  margin: 3rem;
  display: flex;
  flex-direction: column;
}

.layout.light {
  background-color: hsl(0, 0%, 98%);
  color: black;
}

.layout__grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 100%;
  gap: 3rem;
}

.layout__grid.light {
  background-color: hsl(0, 0%, 98%);
  color: black; 
}

.search_and_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_and_filter.light {
  background-color: hsl(0, 0%, 98%);
  color: black;  
}

@media (max-width: 1100px) {
  .layout__grid {
    grid-template-columns: repeat(3, 1fr);
  }
 
}

@media (max-width: 850px) {
  .layout__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .search_and_filter {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
}

@media (max-width: 575px) {
  .layout__grid {
    grid-template-columns: repeat(1, 1fr);
  }

}