.layout {
  margin: 3rem;
  display: flex;
  flex-direction: column;
}

.layout.light {
  background-color: white;
  color: black;
}

.layout__grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  width: 100%;
  gap: 3rem;
}

.layout__grid.light {
  background-color: white;
  color: black; 
}

.search_and_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_and_filter.light {
  background-color: white;
  color: black;  
}