.filter {
  display: flex;
  flex-direction: column;
  width: 15rem;
  color: white;
  gap: .5rem;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.35);
}

.filter.light {
  color: black; 
  background-color: white;
}

.filter__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(209, 23%, 22%);
  padding: 0rem 1.5rem;
  border-radius: 5px;
}

.filter__select.light {
  background-color: white;
}

.filter__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1.2rem 0rem;
}

.filter__dropdown {
  background-color: hsl(209, 23%, 22%);
  border-radius: 5px;
  padding: 1.2rem 1.5rem;
  display: none;
  position: absolute;
  top: 3.6rem;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,.35);
 }

 .filter__dropdown.light {
  background-color: white;
  color: black;
 }

.filter__dropdown.active {
  display: block;
}

.filter__refresh {
  align-self: flex-end;
  padding: 1rem;
  cursor: pointer;
  transition: .15s;
  position: absolute;
  right: 1rem;
  top: .5rem;
}

.filter__refresh:active {
  transform: scale(.99);
  opacity: .8;
}

.filter__dropdown ul {
  list-style: none; 
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.filter__dropdown ul li {
  cursor: pointer;
  transition: .15s;

}

.filter__dropdown ul li:hover {
  opacity: .8;
}

