.header {
  display: flex;
  width: 100%;
  background-color: hsl(209, 23%, 22%);
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1.5rem 4rem;
  box-shadow: 2px 2px 5px rgba(0,0,0,.35);

}

.header.light {
  background-color: white;
  color: black;
}

.header__title {
  font-weight: 600;
  font-size: 1.2rem;
}

.header__mode {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: .9rem;
  cursor: pointer;
  transition: .15s;
  user-select: none;
}

.header__mode:hover {
  opacity: .8;
}