.search {
  color: white;
  display: flex;
  align-items: center;
  width: 30rem;
  background-color: hsl(209, 23%, 22%);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.35);
}

.search.light {
  color: black;
  background-color: white;
}

.search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.search__area {
  width: 100%;
}

.search__area input {
  padding: 1rem 0rem;
  text-decoration: none;
  display: flex;
  background-color: hsl(209, 23%, 22%);
  color: white;
  outline: none;
  border: none;
  size: 200;
  width: 100%;
  font-size: 1rem;  
}

.search__area.light input {
  color: black;
  background-color: white;
}

.search__area input::placeholder {
  color: hsl(0, 0%, 52%);
  font-size: .9rem;
}

.icon__light {
 color: hsl(0, 0%, 52%); 
}


@media (max-width: 850px) {

  .search {
    width: 80vw;
  }
}