.country {
  display: flex;
  flex-direction: column;
  background-color: hsl(209, 23%, 22%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,.35);
}

.country:hover {
  box-shadow: 0px 0px 2px 2px rgba(255,255,255, .3);
}

.country.light:hover {
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,.35); 
}

.country__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}

.country__image img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%
}

.country__data {
  height: 50%;
  padding: 1.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: .9rem;
  color: hsl(0, 0%, 52%);
}

.country__data.light {
  background-color: white;
  color: black;
  border-top: 1px solid rgba(0,0,0,.1);
}

.country__data span {
  color: white;
  font-weight: 600;
}

.country__data.light span {
  color: black;
}

.country__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin-bottom: .5rem;
}

.country__title.light {
  color: black;
}

.country__image img {
  max-width:100%;
  max-height:100%;
}

.countryDetail {
  color: white;
  display: flex;
  flex-direction: column;
}

.countryDetail__back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
  width: 7rem;
  border-radius: 5px;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 1px 1px 2px rgba(0,0,0,.35);
  cursor: pointer;
  margin-bottom: 5rem;
}

.countryDetail__back.light {
  background-color: white;
  color: black;
}

.countryDetail__back:hover {
  opacity: .8;
}

.countryDetail__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 20rem;
  overflow: hidden;
}

.countryDetail__image img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100% 
}

.countryDetail__image.light {
  box-shadow: 2px 2px 5px rgba(0,0,0,.35);
}

.countryDetail__information {
  display: flex;
  gap: 5rem;
}

.countryDetail__details {
  padding: 3rem;
  max-width: 50%;
}

.countryDetail__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.countryDetail__title.light {
  color: black;
}

.countryDetail__data ul {
 columns: 2;
 column-gap: 7rem;
 list-style: none;
}

.countryDetail__data ul li {
  margin-bottom: .4rem;
  color: black;
}

.countryDetail__data ul li {
  color: hsl(0, 0%, 52%);
}

.countryDetail__data ul li span {
  color: white; 
  font-weight: 600;
}

.countryDetail__data.light ul li span {
  color: black;
}

.countryDetail__borders {
  margin-top: 2rem;
  display: flex; 
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
  flex-wrap: wrap;
}

.countryDetail__borders.light span {
  color: black;
  font-weight: 600;
}

.countryDetail__borders div { 
  background-color: hsl(209, 23%, 22%);
  box-shadow: 2px 2px 5px rgba(0,0,0,.35);
  color: hsl(0, 0%, 52%);
  padding: .1rem 1rem;
  border-radius: 5px;
}

.countryDetail__borders.light div {
  color: black;
  background-color: white;
}

@media (max-width: 850px) {
  .countryDetail__back {
    align-items: start;
    margin-bottom: 3rem;
  }

  .countryDetail__information {
    flex-direction: column;
  }

  .countryDetail__details {
    padding: 0;
    min-width: 80vw;
  }

  .countryDetail__data ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .countryDetail__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    overflow: hidden;
  }
  
  .countryDetail__data ul li {
    margin: 0;
  }

  .countryDetail__information {
    gap: 2rem;
  }

  .countryDetail__borders {
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .countryDetail__image img {
    object-fit: fill;
  }
}